.errorMessage {
  display: flex;
  font-family: 'Inter';
  font-weight: 500;
  height: 3.5rem; 
  font-size: 1.125rem; 
  line-height: 1.36rem; 
  align-items: center;
  background-color: #0F1318;
  border-radius: 0.25rem;
  padding: 1rem; 
  padding-top: 0; 
  padding-bottom: 0; 
  gap: 0.625rem; 
}

.vector {
  width: 1.75rem; 
  height: 1.75rem; 
}