.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MatchCard {
  display: flex;
  border-radius: 0.3125rem;
  justify-content: space-between;
  flex-direction: column;
  background-color: #0B0E12;
  width: -webkit-fill-available;
  margin: 0 1.25rem;
  padding: 1rem;
  font-family: 'Inter';
  font-size: 1rem;
  font-weight: 600;
}

.MatchCard:hover{
  cursor: pointer;
}

.mainBlock {
  display: flex;
  align-items: center;
  border-radius: 0.3125rem;
  justify-content: space-between;
  width: -webkit-fill-available;
  gap: 0.75rem;
  font-family: 'Inter';
  font-size: 1rem;
  font-weight: 600;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-weight: 600;
  background-color: #EB0237;
  font-size: 0.75rem;
  padding: 0.375rem 0.125rem;
  border-radius: 0.25rem;
  width: 5.75rem;
}

.TimeBlock {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-size: 1.25rem;
  font-weight: 600;
}

.HomeTeam {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.awayTeam {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.ongoing {
  background-color: #43AD28; 
}

.finished {
  background-color: #EB0237; 
}

.none {
  background-color: #EB6402; 
}

.arrowIcon {
  animation-duration: 0.4s; 
  animation-fill-mode: forwards; 
}

.arrowIcon.rotated {
  animation-name: rotate; 
}

.arrowIcon:not(.rotated) {
  animation-name: rotate-back; 
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg); 
  }
}

@keyframes rotate-back {
  0% {
    transform: rotate(180deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}