.list {
  width: 100%;
  height: auto;
}

.logo {
  margin-left: 1.25rem;
  margin-top: 3.31rem;
}

.BlockBtnErr {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3.31rem;
  gap: 0.75rem;
}

.list ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.75rem;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.spinner {
  animation: spin 1s linear infinite;
  width: 1.625rem;
  height: 1.625rem;
}

.defSpinner {
  width: 1.625rem;
  height: 1.625rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.updateBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.36rem;
  border: none;
  background-color: #EB0237;
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 0.625rem;
  margin-right: 1.25rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #701328;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.36rem;
  border: none;
  color: #787878;
  cursor: not-allowed;
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 0.625rem;
  margin-right: 1.25rem;
}

.loading:hover {
  cursor: not-allowed;
}

.updateBtn:hover {
  cursor: pointer;
}

.updateBtn:active {
  background-color: #A01131;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  font-size: 2rem;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: red;
}